# Composer dependencies
/vendor/

.env

/.idea/
*.sublime-workspace
*.sublime-project
*.vscode/

.DS_Store
Thumbs.db

*.log

/cache/

/.phpstorm.meta.php/

/phpunit.result.cache

/public/uploads/

/node_modules/

*.bak
*.tmp

.env.backup


coverage/

